body {
   margin: 0;
   padding: 0;
   font-family: 'Varela Round'
}

*{
   user-select: none;
}

.bg {
   height: 100vh;
   width: 100%;
   position: absolute;
   overflow: hidden;
}

.bg img {
   height: 110vh;
   width: 102%;
   object-fit: cover;
   filter: blur(5px) brightness(60%);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.overlay {
   height: 100vh;
   width: 100%;
   background-color: rgba(0,0,0, .35);
   position: absolute;
   z-index: 3;
}

.main {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%,-50%);
   z-index: 4;
}

.main img {
   height: 20vw;
   min-height: 15rem;
   object-fit: cover;
}

.player {
   color:#333;
   z-index: 10;
   position: absolute;
   width: 100%;
   bottom: 0%;
   left: 0;
}

.container {
   background: rgba(140, 140, 140, 0.3);
   position: relative;
   padding-bottom: 15px;
   padding-top: 100px;
}

.container:hover .tooltip {
   opacity: 1;
}

#song-title {
   position: absolute;
   font-family: 'Alata';
   top: 2%;
   left: 50%;
   transform: translate(-50%, 0%);
   color: #dcdcdc;
   font-size: 1.4rem;
   z-index: 11;
}

#song-author{
   position: absolute;
   font-style: italic;
   font-family: 'Alata';
   top: 23%;
   width: 100%;
   text-align: center;
   color: #bebebe;
   font-size: 1.1rem;
   z-index: 11;
}

/* TOOLTIPS */
.tooltip {
   opacity: 0;
   position: absolute;
   top: 15px;
   left: 15px;
   color: #dcdcdc;
   font-size: 1.2rem;
   font-weight: bold;
   border: 1px solid #fff;
   border-radius: 50%;
   padding: 2px 10px;
}
 
.tooltip .tooltiptext {
   opacity: 0;
   width: 200px;
   background-color: black;
   color: #dcdcdc;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   left: 50px;
   top: -100px;
   z-index: 1;
   transition: 500ms;
   font-size: 1.1rem;
}
 
.tooltip:hover .tooltiptext {
   opacity: 1;
   transition: 500ms;
}

.a {
   font-weight: bold;
   color: crimson;
}

.buttons {
   width: 55%;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: relative;
}

#pre, #next {
   background: transparent;
   border: none;
   cursor: pointer;
   transition: .5s;
   background: transparent
}

#pre img, #next img{height: 2rem; transition: 1s; }

#pre:hover, #next:hover, #play:hover{
   opacity: .5;
}

#play {
   background: transparent;
   border: none;
   cursor: pointer;
   transition: .5s;
}

#play img{ 
   width: 2.1rem;
}

#replay, #random{
   background: transparent;
   border: none;
   border-radius: 50%;
   padding: 0px 3px;
   transition: .3s;
}

#replay img, #random img {
   height: 2rem; 
   cursor: pointer; 
   transition: .8s;
   background: transparent;
}

#random{padding-top: 2px;}

#replay img:hover{transform: rotateZ(-200deg);}
#random img:hover{transform: rotateX(180deg)}

button{
   outline: none;
}

.progress-bar {
   width: 85%;
   height: 4px;
   background-color: #a5a5a5;
   display: flex;
   position: relative;
   bottom: 10px;
   left: 50%;
   transform: translate(-50%, 0);
   cursor: pointer;
}

#fill {
   height: 4px;
   background: crimson;
}

#handle {
   width: 7px;
   height: 7px;
   background: crimson;
   border-radius: 50%;
   box-shadow: 0 0 5px #000;
   margin-top: -2px;
   margin-left: -2.5px;
   transform: scale(0);
   transition: 500ms;
}

.progress-bar:hover #handle{
   transform: scale(2);
}

#currentTime {
   color: #dcdcdc;
   margin-top: -25px;
   position: absolute;
}

.dark{
   background: rgba(0,0,0, .75);
}

@media only screen and (max-width: 768px) {
   .buttons{
      width: 75%;
   }
}